<div id="page-content">
<div class="container">
  <h1 class="text-center">Post</h1>
    <div class="row justify-content-md-center text-center">
      <div class="col-10">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title"><%= @article.title%></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= @article.price %> </h6>
            <p class="card-text"><%= @article.description %> </p>
          <%= link_to "Back to All", articles_path, method: :get %> | <%= link_to "Edit", edit_article_path(@article), method: :get%> | <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>