<div id="page-content">
  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <h1><%= @user.username %>'s Profile</h1>
      <%= @user.email %>
      <%= gravatar_for @user, size: 200 %>
      <% if logged_in? && (@user == current_user || current_user.admin? )%>
      <div class="text-center mt-4">
        <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info"%>
      </div>
      <% end %>
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <h2 class="text-center mt-5">My Posts</h2>
      <div class="flickr_pagination mt-3">
      <%= will_paginate @articles, :container => false %>
      </div>

      <%= render 'articles/article', obj: @user.articles %>
      <div class="flickr_pagination bottom">
      <%= will_paginate @articles, :container => false %>
      </div>
    </div>
  </div>

</div>
